tensorflow @ https://github.com/bbaron/tensorflow-wheels/releases/download/v2.15.0-cp313/tensorflow-2.15.0-cp313-cp313-manylinux2014_x86_64.whl
pandas
numpy
scikit-learn
tensorboard
matplotlib
streamlit
